		html { 
  background: url(pexels-johannes-plenio-1103970.jpg) no-repeat center fixed; 
  background-size: cover;}
  #left {position: absolute;
top: 0.7cm;
left: 1cm;}
#right {position: absolute;
top: 0.7cm;
right: 1cm;}
.box{
  border-radius: 40px;
}
table {
			border-collapse: collapse;
			width: 100%;
			margin: 20px 0;
			font-size: 1em;
			font-family: Arial, sans-serif;
			border: 1px solid #ccc;
		}
		th, td {
			padding: 10px;
			text-align: left;
			border-bottom: 1px solid #ccc;
		}
		th {
			background-color: #f5f5f5;
			font-weight: bold;
			color: #333;
		}
		tr{
			background-color: rgba(255, 255, 255, 0.5);
		}